{{#if logged_in}}
<section class="container">
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Add A Listing</button>
            <div id="myDropdown" class="dropdown-content">
            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
            <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: {{price}}</li>
            <li class="list-group-item">Adresss: {{address_name}}</li>
            <li class="list-group-item">Description: {{description}}</li>
            <li class="list-group-item">Location: {{location_id}}</li>
            <li class="list-group-item">Building Type: {{building_type}}</li>
            <li class="list-group-item">Listing Type: {{listing_type}}</li>
          </ul>
        </div>
    </div>
</section>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if]}}