<div class="home-navbar p-4">
  <ul class="add-margin">
    <li><a href="/">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#buy">Buy</a></li>
    <li><a href="#add-listing">Add Listing</a></li>
  </ul>
</div>

<div class="container-fluid">

  <div class="row">
    <div class="main-header p-5">
      <h2 class="hook">Browse Your Dreams</h2>

      <p>Welcome to your ultimate real estate hub! Whether you're on the hunt
        for your dream home, eager to explore a wide range of listings, ready to
        showcase your property, or seeking expert guidance from our agents,
        we've tailored our platform to meet all your needs. Join us on this
        journey today!</p>

    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-4 featured-items p-4 my-5 text-center">
      <h3>Featured Properties</h3>
    </div>
  </div>

  <!-- Cards Section -->
  <div class="row justify-content-center">
    {{#each listings as |listing|}}
      <div class="col-md-6 mb-4">
        <div class="card">
          <!-- Property Image -->
          <img
            src="/images/{{listing.image}}"
            class="card-img-top"
            alt="{{listing.altText}}"
          />

          <!-- Card Body Section -->
          <div class="card-body">
            <!-- Price -->
            <h5 class="card-title">Price: {{listing.price}}</h5>

            <!-- Address -->
            <p class="card-text">Address: {{listing.address_name}}</p>

            <!-- Location -->
            <p class="card-text">Location: {{listing.location_id}}</p>

            <!-- Listing Type -->
            <p class="card-text">Listing Type: {{listing.listing_type}}</p>

            {{!-- <!-- More Information Button -->
            <a href="/listing/{{id}}" class="btn btn-primary">More Information</a> --}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>